/* CSS Document */

body {
	background-color:#36230B;
}

img.shortdtlogo1 {
	width:200px;
	hight:200px;
	position:absolute;
	top:450px;
	left:710px;
	padding: 20px;
}

img.shortdtlogo2 {
	width:200px;
	hight:200px;
	position:absolute;
	top:660px;
	left:710px;
	padding: 20px;
}

.designteatext1 {
	position:relative;
	top:550px;
	left:1010px;
	font-family: Montserrat, "Montserrat Black", "Montserrat ExtraBold", "Montserrat ExtraLight", "Montserrat Light", "Montserrat Medium", "Montserrat SemiBold", "Montserrat Thin";
	background-color: #FEFBF4;
	color: #5E3D23;
	font-weight: 400;
}

.designteatext2{
	position:relative;
	top:660px;
	left:1010px;
	font-family: Montserrat, "Montserrat Black", "Montserrat ExtraBold", "Montserrat ExtraLight", "Montserrat Light", "Montserrat Medium", "Montserrat SemiBold", "Montserrat Thin";
	font-weight: 400;
	background-color: #29180B;
	color: #FF9940;
}

.h31 {
	top: 490px;
	left:1130px;
	position:relative;
	font-family: "Bodoni MT", "Bodoni MT Black", "Bodoni MT Condensed", "Bodoni MT Poster Compressed";
	background-color: #FEFBF4;
	color: #C6CA78;
	font-weight: 200;
}

.h32 {
	top: 601px;
	left:1130px;
	position:relative;
	font-family: "Bodoni MT", "Bodoni MT Black", "Bodoni MT Condensed", "Bodoni MT Poster Compressed";
	background-color: #29180B;
	color: #C6CA78;
	font-weight: 200;
}

img.designtea{
	width:400px;
	hight:400px;
	position:absolute;
	left:400px;
	padding: 20px;
	
}

img.dtpodcast {
	width:400px;
	hight:400px;
	position:absolute;
	left: 850px;
	padding:20px;
	
	
}

.designlogo1 {
	width:200px;
	hight:200px;
	position:absolute;
	left: 400px;
	top:450px;
	padding:20px;
}

.designlogo2 {
	width:200px;
	hight:200px;
	position:absolute;
	left:400px;
	top:660px;
	padding:20px;
}

.designteatext1 {
	font-family: Montserrat, "Montserrat Black", "Montserrat ExtraBold", "Montserrat ExtraLight", "Montserrat Light", "Montserrat Medium", "Montserrat SemiBold", "Montserrat Thin";
	background-color: #FEFBF4;
	
	
}

.designtextext2 {
	font-family: Montserrat, "Montserrat Black", "Montserrat ExtraBold", "Montserrat ExtraLight", "Montserrat Light", "Montserrat Medium", "Montserrat SemiBold", "Montserrat Thin";
	background-color:#FEFBF4;
}

.rectangle1 {
			border-radius: 25px;
			padding:20px;
			height:100px;
			width:150px;
			background-color:#C3C771;
			position:absolute;
			top:900px;
			left:470px;
		}
.rectangle2 {
			border-radius: 25px;
			padding:20px;
			height: 100px;
			width:150px;
			background-color:#5E3D23;
			position:absolute;
			top:900px;
			left:670px;
		}
.rectangle3 {
			border-radius: 25px;
			padding:20px;
			height:100px;
			width:150px;
			background-color:#D1AE33;
			position:absolute;
			top:900px;
			left:870px;
		}
.rectangle4 {
			border-radius: 25px;
			padding:20px;
			height:100px;
			width:150px;
			background-color:#FF9940;
			position:absolute;
			top:900px;
			left:1070px;
		}

.rectangle5 {
			border-radius: 25px;
			padding:20px;
			height:100px;
			width:250px;
			background-color:#FEFBF4;
			position:absolute;
			top:1150px;
			left:500px;
		}

.rectangle6 {
			border-radius: 25px;
			padding:20px;
			height:100px;
			width:250px;
			background-color:#29180B;
			position:absolute;
			top:1150px;
			left:970px;
		}

.textplacement1{
	position:relative;
	left: 500px;
	top: 900px;
	font-family: "Bodoni MT", "Bodoni MT Black", "Bodoni MT Condensed", "Bodoni MT Poster Compressed";
	font-weight: 400;
	font-color: #FEFBF4;
}
.textplacement2{
	position:relative;
	left: 1000px;
	top: 800px;
	font-family: "Bodoni MT", "Bodoni MT Black", "Bodoni MT Condensed", "Bodoni MT Poster Compressed";
	font-weight:100;
	font-color: #FEFBF4;
}

.textmontserrateplacement1{
	position:relative;
	left: 500px;
	top: 900px;
	font-family:Montserrat, "Montserrat Black", "Montserrat ExtraBold", "Montserrat ExtraLight", "Montserrat Light", "Montserrat Medium", "Montserrat SemiBold", "Montserrat Thin";
	font-weight: 400;
	font-color: #FEFBF4;
	
}
.textmonserrateplacement2{
	position:relative;
	left: 1000px;
	top: 800px;
	font-family:Montserrat, "Montserrat Black", "Montserrat ExtraBold", "Montserrat ExtraLight", "Montserrat Light", "Montserrat Medium", "Montserrat SemiBold", "Montserrat Thin";
	font-weight: 100;
	font-color: #FEFBF4;
}

.gallery{
	position: absolute;
	top: 1750px;
	left:480px;
}

p{
	color: #FEFBF4;
	font-family: Montserrat, "Montserrat Black", "Montserrat ExtraBold", "Montserrat ExtraLight", "Montserrat Light", "Montserrat Medium", "Montserrat SemiBold", "Montserrat Thin";
	font-size: 400;
}

p.one{
	position:relative;
	top:800px;
	left: 520px;
}
p.two{
	position:relative;
	top:765px;
	left: 730px;
}
p.three{
	position:relative;
	top:730px;
	left: 930px;
}

p.four{
	position:relative;
	top:690px;
	left:1130px;
}

p.five{
	position:relative;
	top:910px;
	left:590px;
}

p.six{
	position:relative;
	top:870px;
	left:1080px;
}